/*Animations*/
@keyframes translate {
  from {
    transform: translateY(-120%);
  } to {
    transform: translateY(0);
  }
}
@keyframes fadeout {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}
@keyframes options_show {
  from {
    transform: translateY(-52px);
    opacity: 0;
  } to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes scale {
  from {
    opacity: 0;
    width: 0;
  } to {
    width: 250px;
    opacity: 1;
  }
}
